:root{
    --green:#008000;
    --yelow:#ffff00;
}
*{  /*  selector universal */
    margin:0; padding:0; /*cero margen, cero padding*/
    box-sizing: border-box; /* incluir el relleno y el borde en el ancho y alto total de un elemento. */
    font-family: Verdana, Geneva, Tahoma, sans-serif; /*indicar una serie de fuentes alternativas*/
    /* outline: none; eliminar un contorno en un objeto */
    /* border:none; especificar la propiedad sin borde */
    text-decoration: none; /*No se dibuja ningun linea y se elimmina cualquier decoración*/
    text-transform: capitalize; /*pone en mayúscula la primera letra de cada palabra*/
    /* transition: .2s linear;  mantener velocidad de animacion constante  */
}
/* definir el tamaño de letra */
html{
    font-size: 62.5%;
}
header{
    /* definir posición fija */
    /* position: fixed; */
    /* valores en cero */
    top: 0; left: 0; right: 0;
    /* concatenar  el header */
    display: flex; 
    /* padding de 20px */
    padding: 2rem;
    /* alinear los items */
    align-items: center;
    /* define el espacio entre los items */
    justify-content: space-between;
    
    /* darle color y sombra al header */
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.1);

}
header .logo{
    /* tamaño de letra 30px */
    font-size: 3rem;
    /* color de letra */
    color: black;
    /* fuente en negrita */
    font-weight: bolder;


}
/* colorear el span de la etiqueta a de verde */
header .logo span{
    color: var(--green);
}
/* editar sobre */
header .navbar a{
    /* tamaño de letra 20px */
    font-size: 2rem;
    /* espaciado 0 arriba y abajo, 15 px izq y der*/
    padding: 0 1.5rem;
    /* definir el color */
    color: rgb(24, 36, 3);
}
header .navbar a:hover{
    /* pintar de color cuando el cursor pase sobre el item */
    color: var(--green);
}
header .icons a{
    /* tamaño de letra 20px */
    font-size: 2rem;
    /* definir el color */
    color:rgb(24, 36, 3);
    /* espaciado  15 px izq */
    margin-left: 1.5rem;
}
header .icons a:hover{
    /* pintar de color cuando el cursor pase sobre el item */
    color: var(--green);
}


/* section of main */

.btn{
    /* bloque en linea  */
    display: inline-block;
   /* margen arriba 10px */
    margin-top: 1rem;
    /* radio del borde 5px */
    border-radius: 5rem;
    /* color de fondo */
    background:#333;
    /* color del texto */
    color: aliceblue;
    /* espaciado 9px arriba y abajo, 35px izq y der */
    padding: .9rem 3.5rem;
    /* tamaño de letra 15px */
    font-size: 1.7rem;
}
.btn:hover{
    background: var(--green);
}

main .home {
    /* llamar a la imagen a mostrar */
    background:url("../imgs/pexels-pi.jpg") no-repeat;
    /* tamaño de fondo: cubierta */
    background-size: cover;
    /* altura minima  */
    min-height: 100vh;
    /* psición de la imagen  */
    background-position: bottom;
}

.home .content{
    /* tamaño maximo del ancho del texto en la clase home, content*/
    max-width: 80rem;
    /* espaciado izquierdo 10px */
    padding-left: 10rem;
    /* espaciao arriba  */
    padding-top: 6%;
}

.home .content h3{
    /* tamaño de letra 60px en el titulo*/
    font-size: 6rem;
    
}

.home .content span{
     /* tamaño de letra 35px en el titulo*/
    font-size: 3rem;
    /* espaciado de 10 px arriba y abajo, 0 izq y der */
    padding: 1rem 0;
    color: var(--green);  
    font-weight: bolder;
}
.home .content p{
    /* tamaño de letra */
    font-size: 1.5rem;
    /* espaciado de 10 px, arriba abajo, 0 der e izq */
    padding: 1rem 0;
    /* color de letra */
    color: black;
    /* Negrita */
    font-weight: bolder;

}

/* section of about */
.heading{
    /* alinear el texto */
    text-align: center;
    /* tamaño de texto */
    font-size: 4rem;
    /* color de letra*/
    color: #333;
    /* espaciado 10px*/
    padding: 1rem;
    /* margen de 20px top and bottom, 0 izq y der */
    margin: 2rem 0;
    /* fondo oscuro
    background: rgb(255, 51, 153,.05);  */
}
.heading span{
    /* color al texto */
    color: var(--green);
}
.about .row{
    /* pantalla flexible */
    display: flex;
    /* alinear items  */
    align-items: center;
    /* espacio entre items 20px */
    gap:2rem;
    /* hacer flexible a redución de pantalla */
    flex-wrap: wrap;
    /* espaciado de 20px para top y bottom, 0 izq y der */
    padding: 2rem 0;
    /* espaciado abajo de 30px */
    padding-bottom: 3rem;
}
/* etiqueta contendora de la etiqueta img */
.about .row .img-container{
    /* flexionar: crecer 1, encoger 1 y base 400px */
    flex:1 1 40rem;
    /* colocar el relación a su posición normal */
    position: relative;
}
/* etiqueta contendora de la imagen */
.about .row .img-container img{
    /* define ancho 100% */
    width: 100%;
    /* borde solido de 1px de color blanco */
    border: 1.5rem solid #fff;
    /* radio del borde de 5px */
    border-radius: .5rem;
    /* sombra de caja de color negro*/
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.1);
    /* altura 100% */
    height: 100%;
    /* ajuste de objeto: cubierta */
    object-fit: cover;
}
/* TEXTO EN LA IMAGEN */
.about .row .img-container h3{
    /* definir posición con el ancestro posicionado más cercano */
    position: absolute;
    /* alinear en medio del contenido */
    top: 50%; 
    /* trasladar de su posición actual a -50 de altura */
    transform: translateY(-50%);
    /* tamaño de texto 30px */
    font-size: 3rem;
    /* pintar el fondo de blanco */
    background: #fff;
    /* ancho del texto 100% */
    width: 100%;
    /* espaciado 10px top, bott y 20 izq, der */
    padding: 1rem 2rem;
    /* centrar el texto  */
    text-align: center;
    /* transparentar el texto modo pantalla */
    mix-blend-mode: screen;
}
/* titulo de lado derecho */
.about .row .content{
    /* flexionar: crecer 1, encoger 1 y base 400px */
    flex: 1 1 40rem;
}

.about .row .content h3{
    /* tamaño de texto 30px */
    font-size: 3rem;
    color: #333;
}
/* contenido del parrafo */
.about .row .content p{
    /* tamaño de texto 15px */
    font-size: 1.5rem;
    /* color opaco */
    color: #999;
    /* espaciado  5px top, bott y 0 izq, der  */
    padding: .5rem 0;
    /* espaciado  10px top*/
    padding-top: 1rem;
    /* espaciado de lineas, 15px */
    line-height: 1.5;
}

/* section of about ends */
/* section of products starts */

.products .box-container{
    display: flex;
    flex-wrap: wrap;
    gap:1.5rem;

}
.products .box-container .box{
    flex:1 1 30rem;
    box-shadow: 0 .5rem 1.5rem rgba(0,0,0,.1);
    border-radius: .5rem;
    border: 1rem solid rgba(0,0,0,.1);
    position: relative;
}
.products .box-container .box .discount{
    position: absolute;
    top: 1rem; left: 1rem;
    padding: .7rem 1rem;
    font-size: 2rem;
    color: var(--green);
    background: rgba(255,51,153,.05); 
    z-index: 1;
    border-radius: .5rem;  
}
.products .box-container .box .image{
    position: relative;
    text-align: relative;
    padding-top: 2rem;
    overflow: hidden;
} 
.products .box-container .box .image img{
    height: 25rem;
    width: 40rem;
}  
.products .box-container .box:hover .image img{
    transform: scale(1.1);
}  
.products .box-container .box .image .icons{
    position: absolute;
    bottom: 0; left: 0; right: 0;
    display: flex;
}  
.products .box-container .box:hover .image .icons{
    bottom:0;
}
.products .box-container .box .image .icons a{
    height: 5rem;
    line-height: 5rem;
    font-size: 2rem;
    width:50%;
    background:var(--green);
    color:#fff;   
    text-align: center;
}

.products .box-container .box .image .icons .cart-btn{
    border-left: .1rem solid #fff7;
    border-right: .1rem solid #fff7;
    width:100%;
}

.products .box-container .box .image .icons a:hover{
    background:#333;
}

.products .box-container .box .content{
    padding:2rem;
    text-align: center;
}

.products .box-container .box .content h3{
    font-size: 2.5rem;
    color:#333;
}

.products .box-container .box .content .price{
    font-size: 2.5rem;
    color:var(--green
    );
    font-weight: bolder;
    padding-top: 1rem;
}

.products .box-container .box .content .price span{
    font-size: 1.5rem;
    color:#999;
    font-weight: lighter;
    text-decoration: line-through;
}

.review .box-container{
    display: flex;
    flex-wrap: wrap;
    gap:1.5rem;
}

.review .box-container .box{
    flex:1 1 30rem;
    box-shadow: 0 .5rem 1.5rem rgba(0,0,0,.1);
    border-radius: .5rem;
    padding:3rem 2rem;  
    position: relative;
    border:.1rem solid rgba(0,0,0,.1);
}

.review .box-container .box .fa-quote-right{
    position: absolute;
    bottom:3rem; right:3rem;
    font-size: 6rem;
    color:#eee;
}

.review .box-container .box .stars i{
    color:var(--yelow);
    font-size: 2rem;
}

.review .box-container .box p{
    color:#999;
    font-size: 1.5rem;
    line-height: 1.5;
    padding-top: 2rem;
}

.review .box-container .box .user{
    display: flex;
    align-items: center;
    padding-top: 2rem;
}

.review .box-container .box .user img{
    height:6rem;
    width:6rem;
    border-radius: 50%;
    object-fit: cover;
    margin-right: 1rem;
}

.review .box-container .box .user h3{
    font-size: 2rem;
    color:#333;
}

.review .box-container .box .user span{
    font-size: 1.5rem;
    color:#999;
}

.contact .row{
    display: flex;
    flex-wrap: wrap-reverse;
    gap:1.5rem;
    align-items: center;
}

.contact .row form{
    flex:1 1 40rem;
    padding:2rem 2.5rem;
    box-shadow: 0  .5rem 1.5rem rgba(.1,.1,.1,.1);
    border:.1rem solid rgba(0,0,0,.1);
    background: #fff;
    border-radius: .5rem;
    
}

.contact .row .image{
    flex:1 1 40rem;
}

.contact .row .image img{
    width: 100%;
}

.contact .row form .box{
    padding:1rem;
    font-size: 1.7rem;
    color:#333;
    text-transform: none;
    border:.1rem solid rgba(0,0,0,.1);
    border-radius: .5rem;
    margin:.7rem 0;
    width: 100%;
}

.contact .row form .box:focus{
    border-color: var(--green);
}

.contact .row form textarea{
    height: 15rem;
    resize: none;
}

.footer .box-container{
    display: flex;
    flex-wrap: wrap;
    gap:1.5rem;
}

.footer .box-container .box{
    flex:1 1 25rem;
}

.footer .box-container .box h3{
    color:#333;
    font-size: 2.5rem;
    padding:1rem 0;
}

.footer .box-container .box a{
    display: block;
    color:#666;
    font-size: 1.5rem;
    padding:1rem 0;
}

.footer .box-container .box a:hover{
    color:var(--green);
    text-decoration: underline;
}

.footer .box-container .box  img{
    margin-top: 1rem;
}

.footer .credit{
    text-align: center;
    padding:1.5rem;
    margin-top: 1.5rem;
    padding-top: 2.5rem;
    font-size: 2rem;
    color:#333;
    border-top: .1rem solid rgba(0,0,0,.1);
    padding-bottom: 9rem;
}

.footer .credit span{
    color:var(--green);
}
